{% extends "main.html" %}
{% block content %}
        <div>
            <h3>Categories:</h3>
        {% for c in categories %}
            <p><a href="{{url_for('showAllItems', category_name = c.name|lower)}}">{{c.name}}</a></p>
        {% endfor %}
        </div>
        <div>
        {% if category_name %}
            <h3>{{category_name}} Items ({{items|length}} items):</h3>
            <h4><a href="{{url_for('addItem', category_name = category_name|lower)}}">New Item</a></h4>
        {% else %}
            <h3>Latest Items:</h3>
            <h4><a href="{{url_for('addItem')}}">New Item</a></h4>
        {% endif %}

        {% if items %}
            {% for i in items %}
                {% if category_name %}
            <p><a href="{{url_for('showItem', category_name = category_name|lower, item_name = i.title|lower)}}">{{i.title}}</a></p>
                {% else %}
            <p><a href="{{url_for('showItem', category_name = i.category_name|lower, item_name = i.title|lower)}}">{{i.title}} ({{i.category_name}})</a></p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No items found</p>
        {% endif %}
        </div>
{% endblock %}
