{% extends "main.html" %}
{% block content %}
        <p><a href="{{url_for('showAllItems', category_name = category_name|lower)}}">{{category_name}}</a></p>
        <div>
            <h3>{{item.title}}</h3>
            <p>Description: {{item.description}}</p>
        </div>
        <p><a href="{{url_for('editItem', category_name = category_name|lower, item_name = item.title|lower)}}">Edit</a></p>
        <p><a href="{{url_for('deleteItem', category_name = category_name|lower, item_name = item.title|lower)}}">Delete</a></p>
{% endblock %}
