<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header><h1>Item Catalog</h1></header>
    <p>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">Click Here to Login</a>
      {% else %}
      <a href="{{url_for('disconnect')}}">Logout</a>
      {% endif %}
      &nbsp;&nbsp;<button id="myBtn">Open Modal</button>
    </p>

    <div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>

    <p><a href="{{url_for('showCatalog')}}">Home</a></p>

    <div class="container">
			{% block content %}
			{% endblock %}
		</div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>
    </div>

    <script>
      var modal = document.getElementById('myModal');
      var btn = document.getElementById("myBtn");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>
</html>
