<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header><h1>Item Catalog</h1></header>
    <p>
      {% if "username" not in session %}
      <button id="loginBtn">Login</button>
      {% else %}
      <button id="loginBtn">Logout</button>
      {% endif %}
    </p>

    <div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>

    <p><a href="{{url_for('showCatalog')}}">Home</a></p>

    <div class="container">
			{% block content %}
			{% endblock %}
		</div>

    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        {% if "username" not in session %}
        <p>{% include "login.html" %}</p>
        {% endif %}
      </div>
    </div>

    <script>
      var modal = document.getElementById("loginModal");
      var btn = document.getElementById("loginBtn");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
        {% if "username" not in session %}
        modal.style.display = "block";
        {% else %}
        window.location.href="{{url_for('disconnect')}}";
        {% endif %}
      }
      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>
</html>
